
@font-face {
	font-family: 'Inter';
	src: url('inter.woff2') format('woff2');
	font-display: swap;
}

:root {
	--background-color: #18181b;
	--text-color: #ffffff;
	--accent-color: #bf94ff;
	--disabled-color: #b41b1b;

	--dark-color: #18181b;
	--medium-color: #4f4f4f;
	--light-color: #999999;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;

	font-family: 'Inter', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	text-rendering: optimizeSpeed;
	/* disable pull to refresh on mobile */
	overscroll-behavior: none;
}

body {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;

	background-color: var(--background-color);
	color: var(--text-color);
}

input, button, textarea, select {
	font: inherit;
}

img[src=""], img:not([src]) {
	visibility: hidden;
}

::selection {
	background-color: var(--accent-color);
	color: var(--background-color);
}

::-ms-input-placeholder,
::-webkit-input-placeholder,
::placeholder {
	font-weight: normal;
	color: var(--light-color);
}

.hide {
	display: none !important;
}

.invisible {
	visibility: hidden !important;
}

.right {
	float: right;
}

#chatOutput {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

	overflow-x: hidden;
	/* inherit allows us to inherit body overflow (for OBS) */
	overflow-y: inherit;

	/* fix scrollbar behavior in FF */
	overflow-anchor: none;
}

/* scrollbar */

#chatOutput {
	scrollbar-color: var(--light-color) var(--dark-color);
}

#chatOutput::-webkit-scrollbar-thumb {
	background-color: var(--light-color);
}

#chatOutput::-webkit-scrollbar-track {
	background-color: var(--dark-color);
}

/* links */

a {
	text-decoration-line: none;
}

a:link,
a:visited {
	color: var(--accent-color);
}

a:hover,
a:active {
	text-decoration-line: underline;
}

/* push content to bottom */
/* NOTE: does not work if first element is display:none */
#chatOutput > :first-child {
	margin-top: auto !important;
}

#chatOutput > * {
	display: flex;
	flex-shrink: 0;
}

#chatTracker {
	width: 100%;
	height: 2px;
	/* avoid shifting content by negating height */
	margin-top: -2px;
	/* negative bottom margin messes with scrollbar */
	margin-bottom: 0;

	background-color: var(--accent-color);
	z-index: 1;
}

#chatPanel {
	margin-bottom: 0.25rem;
	padding: 0.25rem 0.5rem;

	border-top: 1px solid var(--medium-color);

	background-color: var(--background-color);
}

#chatRooms {
	list-style-type: none;
	counter-reset: channel-number;
}

#chatRooms > li {
	display: inline-block;

	margin-top: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
	margin-right: 1px;

	padding-left: 0.5rem;
	padding-right: 0.5rem;

	color: var(--light-color);
	-webkit-user-select: none;
	user-select: none;

	counter-increment: channel-number;
}

#chatRooms > li::after {
	content: counter(channel-number);
	margin-left: 0.125rem;

	font-size: 0.75rem;
	vertical-align: top;
}

#chatRooms > li.active {
	/* margin replaced by border */
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;

	border-width: 1px;
	border-radius: 4px;
	border-style: solid;

	color: var(--accent-color);
}

#chatRooms > li.muted {
	color: var(--disabled-color);
}

#chatBar {
	display: flex;
}

#chatInput {
	width: 100%;
	margin-top: 0.25rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;

	border-width: 0.125rem;
	border-radius: 0.25rem;
	border-style: solid;
	border-color: var(--medium-color);

	background-color: var(--background-color);
	color: var(--text-color);
}

#chatInput:focus {
	border-color: var(--accent-color);
	outline: none;
}

.mess {
	width: 100%;
	min-height: 1.75rem;
}

.mess:hover {
	filter: brightness(1.25);
}

.mess > div {
	margin: 0.25rem 0.5rem;
}

.mess .user {
	flex: 0 0 10rem;

	font-weight: bold;
	text-align: right;
	text-wrap: nowrap;
}

.mess .user,
.mess .user a {
	display: block;

	overflow-x: hidden;
	text-overflow: ellipsis;
}

.mess .time {
	padding-top: 0.125rem;

	font-size: 0.875rem;
	font-variant-numeric: tabular-nums;

	color: var(--light-color);
}

.mess .room {
	width: 1.75rem;
}

/* message text */
.mess .body {
	flex: 1;
	margin-left: 0.375rem;
	margin-right: 0.375rem;

	overflow-wrap: anywhere;
}

/* unique message styles */

.mess.system .body {

}

.mess.event .body {
	font-weight: bold;
}

.mess.action .body {
	font-style: italic;
}

.mess.ping .body {
	/* adjust for added border */
	margin-left: -0.1875rem;
	padding-left: 0.3125rem;

	border-left: 0.25rem dotted white;
}

.mess .body .mention {
	color: var(--accent-color);
}

/* images */

.avatar {
	width: 1.75rem;
	height: 1.75rem;

	margin: -0.5rem 0;
	vertical-align: baseline;

	border-radius: 50%;
}

#chatRooms .avatar {
	width: 1.25rem;
	height: 1.25rem;

	margin-top: -0.25rem;
	margin-bottom: -0.25rem;
	margin-right: 0.3125rem;
}

.badge {
	width: 1.125rem;
	height: 1.125rem;

	margin-left: 0;
	margin-right: 0.25rem;
    vertical-align: text-top;
}

.cheermote {
	display: inline-block;

	font-weight: bold;
	color: var(--accent-color);
}

.cheermote:not(:last-child) {
	margin-right: 0.375rem;
}

.emote {
	display: inline-block;
	/* define static size to minimize layout shifts */
	min-width: 1.75rem;
	height: 1.75rem;
	object-fit: contain;

	margin: -0.5rem 0;
	vertical-align: baseline;
}

/* responsive layout */

@media (max-width: 36rem) or (orientation: portrait) {
	.mess {
		flex-wrap: wrap;
		margin-top: 0.125rem;
		margin-bottom: 0.125rem;
	}

	.mess .user {
		flex: none;
		margin-right: auto;
		text-align: left;
		order: 1;
	}

	.mess .time {
		order: 2;
	}

	.mess .room {
		order: 3;
	}

	.mess .body {
		flex: 1 1 100%;
		margin-top: 0;
		margin-left: 1rem;
		margin-right: 1rem;
		order: 4;
	}

	.mess.ping .body {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
		padding-left: 0.25rem;
		padding-right: 0.25rem;
	}

	/* TODO: flipping badge to right of username would be great
	.badge {
		margin-left: 0.25rem;
		margin-right: 0;
	}*/
}
